<div class="spinner-container">
    <div class="spinner-sphere spinner-s-gold"></div>
    <div class="spinner-sphere spinner-s-5"></div>
    <div class="spinner-sphere spinner-s-4"></div>
    <div class="spinner-sphere spinner-s-3"></div>
    <div class="spinner-sphere spinner-s-2"></div>
    <div class="spinner-sphere spinner-s-1"></div>
</div>
<div class="spinner-backdrop"></div>