 
 @* TODO Need to add logic to make this stuff a base class of some time so I dont have to write this a bunch of times *@
 @if (IsInvalid.Invoke())
 {
     <div class="invalid-feedback">
         @string.Join("<br/>", Errors)
     </div>
 }

@functions
{
    
    [Parameter] IEnumerable<string> Errors { get; set; }
    
    [Parameter] Func<bool> IsInvalid { get; set; }
    
}
