@page "/Login"
<div class="row">
    <div class="col">
        <form class="form" action="/api/Account/Login" method="post">
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>
</div>
