@using BehaviorTracker.Client.Services
@using BehaviorTracker.Client.Shared.Common
@inherits BlazorLayoutComponent


<div class="sidebar">
    <NavMenu/>
</div>

@* <Modal ref="modalTest"/> *@

<div class="main">
    @* <CascadingValue Value="@modalTest"> *@
    <div class="content px-4">
        <div class="container">
            @Body
        </div>
    </div>
    @* </CascadingValue> *@
</div>

@functions
{
 //   Modal modalTest;
    [Inject] AuthorizationService _authorizationService { get; set; }

}