@using BehaviorTracker.Client.Shared.Common
@inherits BlazorLayoutComponent


<div class="sidebar">
    <NavMenu/>
</div>

<Modal ref="modalTest"/>

<div class="main">
    <CascadingValue Value="@modalTest">
        <div class="content px-4">
            @Body
        </div>
    </CascadingValue>
</div>

@functions
{
    Modal modalTest;
}