<div class="form-group">
    <label for="@Answer.GoalKey-Answer">@GoalName</label>
    <input type="number" class="form-control" id="@Answer.GoalKey-Answer" bind="@Answer.Answer"/>
</div>

@functions
{
    [Parameter]
    string GoalName { get; set; } 
    [Parameter]
    GoalAnswer Answer { get; set; }

}
