@inject HttpClient Http
@using BehaviorTracker.Shared
@if (_students != null)
{
    <table class="table">
        <tbody>
        @foreach (var student in _students)
        {
            <tr>
                <td>@student.StudentFirstName @student.StudentLastName</td>
                @foreach (var goal in student.Goals)
                {
                    <td>
                        @if (goal.GoalType == GoalType.YesNo)
                        {
                            <YesNoGoalAnswer GoalName="@goal.GoalDescription"/>
                        }
                        else
                        {
                            <NumericGoalAnswer GoalName="@goal.GoalDescription"/>
                        }
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
}


@functions {
    Models.Student[] _students;

    protected override async Task OnInitAsync()
    {
        _students = await Http.GetJsonAsync<Models.Student[]>("api/Student/Students");
    }
}