<div class="form-group">
    <label for="@Answer.GoalKey-Answer">@GoalName</label>
    <select class="form-control" id="@Answer.GoalKey-Answer" bind="@Answer.Answer">
        <option value=""></option>
        <option value="True">Yes</option>
        <option value="False">No</option>
    </select>
</div>

@functions
{
    [Parameter]
    string GoalName { get; set; } 
    [Parameter]
    GoalAnswer Answer { get; set; }

}
